// Styles for all of the user pages:
// Login, Signup, Support

page-user {
  .logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;

    img {
      max-width: 150px;
    }
  }

  .list {
    margin-bottom: 0;
  }

  .forgot-btn {
       font-size: 0.8em;
  }

  .reset-btn {
       font-size: 0.8em;
  }

  .loader {
    position: absolute;
    top: 15%;
    left: 51%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-radius: 50%;
    border-color: #f4f4f4;
    animation: 3s pulse infinite;
  }
}

  @keyframes pulse {
    0% {
      height: 0px;
      width: 0px;
      border-width: 0px;
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      height: 130px;
      width: 130px;
      border-width: 2px;
      opacity: 0;
    }
    100%{
      opacity: 0;
    }
  }