<ion-header>
  <ion-navbar>
    <ion-title>
      My Attendance List
    </ion-title>
  </ion-navbar>
  <ion-row style="background-color: #f39c12;" *ngIf="isenabledref">
    <ion-col text-center>
      <ion-item>
        <ion-label>Filter List By :</ion-label>
        <ion-datetime cancelText="Back" doneText="Done" displayFormat="DDD, MMM DD, YYYY" pickerFormat="MMM DD YYYY"
          [(ngModel)]="today" (ionChange)="getItems(today)" placeholder="Click Here to Filter List..." style="color: #f39c12;"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row style="background-color: #f39c12;" *ngIf="isenabledrefD">
    <ion-col text-center>
      <ion-item>
        <ion-label style="color: #f39c12;">Filter List Not Available</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row style="background-color: #f39c12;" *ngIf="isenabledrefM">
    <ion-col text-center>
      <ion-item>
        <ion-label>Filter List By :</ion-label>
        <ion-datetime cancelText="Back" doneText="Done" displayFormat="YY" pickerFormat="YY" min="2001" max="2012"
          [(ngModel)]="todayM" (ionChange)="getItemsM(todayM)" placeholder="Month..." style="color: #f39c12;"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row style="background-color: #f39c12;" *ngIf="isenabledrefY">
    <ion-col text-center>
      <ion-item>
        <ion-label>Filter List By :</ion-label>
        <ion-datetime cancelText="Back" doneText="Done" displayFormat="YYYY" pickerFormat="YYYY"
          [(ngModel)]="todayY" (ionChange)="getItemsY(todayY)" placeholder="Year..." style="color: #f39c12;"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <div class="main-content">
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="today">
        Today
      </ion-segment-button>
      <ion-segment-button value="month">
        This Month
      </ion-segment-button>
      <ion-segment-button value="year">
        This Year
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-header>

<ion-content no-padding style="background-color: rgba(0, 0, 0, 1);">
  <ion-refresher (ionRefresh)="doRefresh($event)" style="background-color: rgba(0, 0, 0, 1);">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-slides #mySlider (ionSlideDidChange)="onSlideChanged($event)" style="border-color: rgba(0, 0, 0, 1) !important;">
    <ion-slide>
      <div class="main-content">
        <ion-card *ngFor="let item of items">
          <ion-item style="background-color: rgba(0, 0, 0, 0.7);">
            <h6 style="color: #f39c12;">PUNCHED </h6>
            <h6 style="color: aliceblue;"> on {{ item.curdate | date: 'EEE, MMM dd, y' }}</h6>
            <button ion-button item-right (click)="viewEntry({ record: item })">View Attendance</button>
          </ion-item>
        </ion-card>
        <ion-card *ngIf="!itemdata">
          <ion-item style="background-color: rgba(0, 0, 0, 0.7);">
            <h5 style="color: aliceblue;">No data ... </h5>
          </ion-item>
        </ion-card>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="main-content">
        <ion-card *ngFor="let itemD of itemsD">
          <ion-item style="background-color: rgba(0, 0, 0, 0.7);">
            <h6 style="color: #f39c12;">PUNCHED </h6>
            <h6 style="color: aliceblue;"> on {{ itemD.curdate | date: 'EEE, MMM dd, y' }}</h6>
            <button ion-button item-right (click)="viewEntry({ record: itemD })">View Attendance</button>
          </ion-item>
        </ion-card>
        <ion-card *ngIf="!itemDdata">
          <ion-item style="background-color: rgba(0, 0, 0, 0.7);">
            <h5 style="color: aliceblue;">No data ... </h5>
          </ion-item>
        </ion-card>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="main-content">
        <ion-card *ngFor="let itemM of itemsM">
          <ion-item style="background-color: rgba(0, 0, 0, 0.7);">
            <h6 style="color: #f39c12;">PUNCHED </h6>
            <h6 style="color: aliceblue;"> on {{ itemM.curdate | date: 'EEE, MMM dd, y' }}</h6>
            <button ion-button item-right (click)="viewEntry({ record: itemM })">View Attendance</button>
          </ion-item>
        </ion-card>
        <ion-card *ngIf="!itemMdata">
          <ion-item style="background-color: rgba(0, 0, 0, 0.7);">
            <h5 style="color: aliceblue;">No data ... </h5>
          </ion-item>
        </ion-card>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="main-content">
        <ion-card *ngFor="let itemY of itemsY">
          <ion-item style="background-color: rgba(0, 0, 0, 0.7);">
            <h6 style="color: #f39c12;">PUNCHED </h6>
            <h6 style="color: aliceblue;"> on {{ itemY.curdate | date: 'EEE, MMM dd, y' }}</h6>
            <button ion-button item-right (click)="viewEntry({ record: itemY })">View Attendance</button>
          </ion-item>
        </ion-card>
        <ion-card *ngIf="!itemYdata">
          <ion-item style="background-color: rgba(0, 0, 0, 0.7);">
            <h5 style="color: aliceblue;">No data ... </h5>
          </ion-item>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="isenabledinf">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>